html {
    box-sizing: border-box;
}
*, 
*::before,
*::after { 
    box-sizing: inherit; 
}

body {
    margin: 0;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    clip: rect(0 0 0 0);
}

.layout {
    width: 1200px;
    margin: 0 auto;
}

.main-header { 
    display: flex;
    flex-direction: row;
    position: relative;
}

.main-header .logo {
    width: 239px;
    position: absolute;
    top: 0;
    left: 530px;
}


.navigation-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
}

.navigation-list li {
    width: 239px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.navigation-list li:nth-child(1) {
    padding-right: 74px;
    padding-left: 72px;
}

.navigation-list li:nth-child(2) {
    padding-right: 68px;
    padding-left: 73px;
}

.navigation-list li:nth-child(3) {
    width: 244px;
}

.navigation-list li:nth-child(4) {
    padding-right: 73px;
    padding-left: 76px;
}

.navigation-list li:nth-child(5) {
    padding-right: 72px;
    padding-left: 88px;
} 

.navigation-list a {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.navigation-list a:hover {
    color: #81b3d2;
}

.navigation-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

a.active {
    color: #766357;
}

.page-top-background {
    height: 508px;
    margin: 0;
    background:
    url("../img/intro-mask.svg") no-repeat 50% 451px,
    url("../img/background_big.jpg") no-repeat 50% -57px;
}

.promo-container {
    width: 576px;
    margin: 0 auto;
}
.promo-heading {
    display: inline-block;
    margin-top: 61px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.promo-content {
    margin: 0;
    margin-top: 27px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 51px;
    font-size: 14px;
    line-height: 21px;
    list-style: none;
}

.advantages-list-item {
    display: flex;
    flex-wrap: wrap;


}
.advantages-list-item:nth-child(3),
.advantages-list-item:nth-child(4),
.advantages-list-item:nth-child(5) {
    width: 400px;
}

.list-item-content {
    width: 400px;
    padding-top: 48px;
    padding-right: 60px;
    padding-bottom: 59px;
    padding-left: 60px;   
}

.item-content-title {
    width: 155px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000; 
}

.item-content-number {
    display: block;
    padding-right: 130px;
    padding-left: 130px; 
    margin-top: 23px;
}

.advantages-list-item:first-child .list-item-content, 
.advantages-list-item:first-child .item-content-title,
.advantages-list-item:first-child .item-content-description {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-list-item:nth-child(2) .list-item-content, 
.advantages-list-item:nth-child(2) .item-content-title,
.advantages-list-item:nth-child(2) .item-content-description {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-list-item:nth-child(n+3) {
    color: #000000;
    background-color: #eeeeee;  
}

.advantages-list-item:nth-child(2) .list-item-content {
    order: 1;
}

.item-content-description {
    margin: 0;
    margin-top: 21px;
    text-align: center;
    color: #333333;
}

.advantages-description-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.description-list-item {
    width: 400px;
    padding-top: 162px;
    padding-right: 60px;
    padding-bottom: 82px;
    padding-left: 57px;

}

.description-list-item h4 {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.description-list-item p {
    width: 285px;
    margin: 0;
    margin-top: 23px;
    text-align: center;
    color: #333333;
    
}

.list-content-title {
    width: 120px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}


.search {
    margin-top: 52px;
}

.search-title {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-align: center;
    color: #000000;
}

.search-description {
    margin: 0;
    margin-top: 23px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.btn {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
    background-color: #766357;
}

.btn-search-open {
    display: block;
    width: 568px;
    height: 86px;
    padding-top: 31px;
    padding-bottom: 33px;
    margin: 0 auto;
    margin-top: 45px;
}

.btn-search-open:hover {
    background-color: #604e43;
}

.btn-search-open:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search form {
    box-sizing: border-box;
    width: 568px;
    padding: 55px;
    padding-top: 57px;
    margin: 0 auto;
}

.form-item {
    margin: 0;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.form-item input {
    border: 0; 
    font: inherit;
    background-color: #f2f2f2;
}

.form-item input:nth-child(-n+2) {
    width: 346px;
    height: 38px;
}

.form-item input:hover {
    font: inherit;
    background-color: #ebebeb;
}

.form-item input:focus {
    outline: 2px solid #e5e5e5;
    font: inherit;
    background-color: #ffffff;
}

.search-btn {
    width: 458px;
    height: 58px;
    margin-top: 55px;
    background-color: #81b3d2;
}

.search-btn:hover {
    background-color: #669ec0; 
}

.search-btn:active { 
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

.social-tag {
    width: 400px;
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.socail-contacts {
    width: 400px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

.copyright {
    width: 400px;
    margin: 0;
    text-align: center;
}
.copyright span {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}


/* СТИЛИ ВНУТРЕННЕЙ СТРАНИЦЫ */


.catalog-search form {
    background-color: #728aa0;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    padding: 28px 72px;
    display: flex;
    min-height: 217px;
}

.filter-column {
    width: 554px;
    display: flex;
}

.filter-infrastructure {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.filter-infrastructure-item {
    margin: 0;
}


.catalog-search fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.catalog-search legend{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.filter-accommodation {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.filter-accommodation-item {
    margin: 0;
}

.range-column {
    width: 528px;
}

.filter-btn {
    border: 2px solid #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;
}

.filter-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.search-results-sort {
    display: flex;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;
}

.results-sort-found {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.results-sort-type {
    margin: 0;
    margin-left: 50px;
    font-size: 12px;
    line-height: 18px;
}

.sort-type-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.sort-type-item a {
    border-bottom: 1px dotted #81b3d2;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.sort-type-item a:hover {
    color: #81b3d2;
}

.sort-type-item a:active {
    border: 0;
    color: #000000;
}

.sort-type-item .sort-type-item-selected {
    border: 0;
    color: #81b3d2;
}

.sort-buttons {
    margin: 0;
    padding: 0;
    display: flex;
}

.search-results {
    padding: 0;
    margin: 0;
    list-style: none;
}

.search-results-item {
    padding: 29px 72px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.results-item-card {
    display: flex;
}

.item-card-column {
    width: 528px;
    display: flex;

}

.item-card-inner-wrapper {
    
    width: 258px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.item-card-title {
    margin: 0; 
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    width: 100%;
}

.item-card-title:hover {
    color: #81b3d2;
}

.item-card-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.item-card-cost {
    margin-left: 40px;
}

.card-detail-btn { 
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    background-color: #81b3d2;
    width: 110px;
    vertical-align: middle;
    
}

.card-detail-btn:hover {
    background-color: #669ec0;
}
.card-detail-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}


.card-book-btn { 
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    background-color: #766357; 
    width: 142px;
    margin-left: 6px;
}

.card-book-btn:hover {
    background-color: #604e43;
}
.card-book-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.results-item-rating {
    width: 528px;
}

.item-rating-stars {
    margin: 0;
}

.item-rating-numbers {
    margin: 0;
    color: #666666;
    background-color: #f2f2f2;
}