html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, 
*::before,
*::after { 
    -webkit-box-sizing: inherit; 
            box-sizing: inherit; 
}

body {
    margin: 0;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
    min-width: 1200px;
}

.img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    clip: rect(0 0 0 0);
    font-size: 0;
}

.layout {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.25);
            box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.25);
}

.main-header { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    background-color: #ffffff;
}

.main-header .logo {
    width: 239px;
    position: absolute;
    top: 0;
    left: 530px;
    z-index: 10;
}


.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation-list li:empty {
    width: 240px;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.navigation-list a {
    display: block;
    width: 240px;
    padding-top: 16px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.3px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.list-item:last-child a {
    padding-left: 18px;
}




.navigation-list a:hover {
    color: #81b3d2;
}

.navigation-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-list a .active {
    color: #766357;
}

.navigation-list a.list-item-active {
    padding-bottom: 17px;
    padding-left: 20px;
}

.page-top-background {
    height: 508px;
    margin: 0;
    position: relative;
    background:
    url("../img/intro-mask.svg") no-repeat 50% 451px,
    url("../img/background_big.jpg") no-repeat 50% -56px;
}

.page-top-background::after {
    width: 459px;
    height: 353px;
    position: absolute;
    top: 76px;
    left: 371px;
    background: url("../img/intro-welcome.svg") no-repeat;
    content: "";

}

.advantages {
    background-color: #ffffff;  
}

.promo-container {
    width: 576px;
    margin: 0 auto;
}
.promo-heading {
    display: inline-block;
    margin-top: 61px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.promo-content {
    margin: 0;
    margin-top: 27px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 51px;
    font-size: 14px;
    line-height: 21px;
    list-style: none;
}

.advantages-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;


}
.advantages-list-item:nth-child(3),
.advantages-list-item:nth-child(4),
.advantages-list-item:nth-child(5) {
    width: 400px;
}

.list-item-content {
    width: 400px;
    padding-top: 48px;
    padding-right: 60px;
    padding-bottom: 59px;
    padding-left: 60px;   
}

.item-content-title {
    width: 155px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000; 
}

.item-content-number {
    display: block;
    margin-top: 23px;
    position: relative;
    text-align: center;
}

.item-content-number::before {
    width: 9px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 115px;
    background-color: #bcd6e7;
    content: "";
}

.advantages-list-item:nth-child(3) .item-content-number::before {
    background-color: #979797; 
}
.advantages-list-item:nth-child(4) .item-content-number::before {
    background-color: #979797; 
}
.advantages-list-item:nth-child(5) .item-content-number::before {
    background-color: #979797; 
}

.item-content-number::after {
    width: 9px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 156px;
    background-color: #bcd6e7;
    content: "";
}

.advantages-list-item:nth-child(3) .item-content-number::after {
    background-color: #979797; 
}

.advantages-list-item:nth-child(4) .item-content-number::after {
    background-color: #979797; 
}

.advantages-list-item:nth-child(5) .item-content-number::after {
    background-color: #979797; 
}

.advantages-list-item:first-child .list-item-content, 
.advantages-list-item:first-child .item-content-title,
.advantages-list-item:first-child .item-content-description {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-list-item:nth-child(2) .list-item-content, 
.advantages-list-item:nth-child(2) .item-content-title,
.advantages-list-item:nth-child(2) .item-content-description {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-list-item:nth-child(n+3) {
    color: #000000;
    background-color: #eeeeee;  
}

.advantages-list-item:nth-child(2) .list-item-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.advantages-list-item:nth-child(2) .list-item-content {
    padding-left: 48px;
    padding-right: 49px;
}

.advantages-list-item:nth-child(2) .item-content-number::before {
    top: 10px;
    left: 127px;
}

.advantages-list-item:nth-child(2) .item-content-number::after {
    top: 10px;
    left: 168px;
}


.item-content-description {
    margin: 0;
    margin-top: 21px;
    text-align: center;
    color: #333333;
}


.advantages-description-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.description-list-item {
    width: 400px;
    padding-top: 161px;
    padding-right: 60px;
    padding-bottom: 82px;
    padding-left: 57px;

}

.description-list-item h4 {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.list-item-accommodation {
    position: relative;
}

.description-list-item .list-item-accommodation::before {
    width: 75px;
    height: 72px;
    position: absolute;
    top: -102px;
    left: 105px;
    background: url("../img/icon-1.svg") no-repeat;
    content: "";    
}

.list-item-food {
    position: relative;
}

.description-list-item .list-item-food::before {
    width: 74px;
    height: 70px;
    position: absolute;
    top: -101px;
    left: 104px;
    background: url("../img/icon-3.svg") no-repeat;
    content: "";  
}

.list-item-souvenirs {
    position: relative;
}

.list-item-souvenirs::before {
    width: 64px;
    height: 76px;
    position: absolute;
    top: -106px;
    left: 111px;
    background: url("../img/icon-2.svg") no-repeat;
    content: "";
}

.description-list-item p {
    width: 285px;
    margin: 0;
    margin-top: 23px;
    text-align: center;
    color: #333333;
    
}

.list-content-title {
    width: 120px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}


.search {
    padding-top: 52px;
    position: relative;
    background-color: #ffffff;
}

.search-title {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-align: center;
    color: #000000;
}

.search-description {
    margin: 0;
    margin-top: 23px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.btn {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
    background-color: #766357;
}

.btn-search-open {
    display: block;
    width: 568px;
    height: 86px;
    padding-top: 32px;
    padding-bottom: 33px;
    margin: 0 auto;
    margin-top: 46px;
    border: 0;
}

.btn-search-open:hover {
    background-color: #604e43;
}

.btn-search-open:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    padding: 55px;
    padding-top: 56px;
    position: absolute;
    left: 50%;
    margin-left: -284px;
    -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
            box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
    
}

.form-item {
    width: 100%;
    margin: 0;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.form-item:nth-child(3) {
   width: 50%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.form-item:nth-child(3) label {
    margin-right: 42px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.form-item:nth-child(4) {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-item:nth-child(4) label {
    margin-right: 28px;
    margin-left: 51px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.form-item label {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
}

.form-item:nth-child(1) label {
    margin-right: 20px;
}


.form-item input {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 14px;
    border: 0; 
    font: inherit;
    background-color: #f2f2f2;

}

.form-item:nth-child(3) input[type="text"],
.form-item:nth-child(4) input[type="text"] {
    width: 38px;
    height: 38px;
    text-align: center;
}

.form-item input[name="adults-number"],
.form-item input[name="kids-number"] {
    padding-left: 0;
}


.form-item input:nth-child(-n+2) {
    width: 346px;
    height: 38px;
    text-transform: uppercase;
    position: relative;
}

.calendar-icon-image {
    position: absolute;
    content: "";
    top: 64px;
    left: 484px;
    cursor: pointer;
}

.form-item:nth-child(2) .calendar-icon-image {
    position: absolute;
    content: "";
    top: 131px;
    left: 484px;
}

.calendar-icon-image:hover path {
     fill: #000000;
}

.calendar-icon-image:active path {
    fill: #81b3d2;
}

.form-item input:hover {
    font: inherit;
    background-color: #ebebeb;
}

.form-item input:focus {
    outline: 2px solid #e5e5e5;
    font: inherit;
    background-color: #ffffff;
}

.minus-btn {
    width: 38px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    padding: 0;
    position: relative;
}

.minus-btn::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    left: 13px;
}

.minus-btn:hover::before {
    background-color: #000000;
}

.minus-btn:active::before {
    background-color: #81b3d2;
}

.plus-btn {
    width: 38px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2; 
    padding: 0;
    position: relative;
}

.plus-btn::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    left: 13px;
}

.plus-btn::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    left: 13px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.plus-btn:hover::before,
.plus-btn:hover::after {
    background-color: #000000;
}

.plus-btn:active::before,
.plus-btn:active::after {
    background-color: #81b3d2;
}

.search-btn {
    width: 458px;
    height: 58px;
    margin-top: 25px;
    border: 0;
    background-color: #81b3d2;
}

.search-btn:hover {
    background-color: #669ec0; 
}

.search-btn:active { 
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.map img {
display: block;
}

footer.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 34px;
    margin-top: -119px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;  
    background-color: rgba(255, 255, 255, 0.9);
}

.social-tag {
    width: 400px;
    margin: 0;
    margin-top: 47px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.social-tag a {
    color: #000000;
    text-decoration: none;
}

.socail-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 150px;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    list-style: none;
}

.socail-contacts li {
    margin-right: 6px;
}

.socail-contacts li:nth-child(3n) {
    margin-right: 0;
}

.social-btn { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 46px;
    height: 48px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #81b3d2;
    padding-top: 4px;
}

.social-btn:hover,
.social-btn:active {
    background-color: #669ec0;
}

.social-btn:active path {
   fill: #88b6d1;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    margin: 0;
    text-align: center;
}

.copyright-logo {
    margin-top: 39px;
    margin-left: 8px;
}

.copyright-logo:hover path {
    fill: #81b3d2;
}

.copyright-logo:active path {
    fill: #bdbbbc;
}

.copyright span {
    padding-left: 103px;
    margin-top: 47px;
    font-size: 14px;
    line-height: 26px;
    color: #000000; 
}


/* СТИЛИ ВНУТРЕННЕЙ СТРАНИЦЫ */


.catalog-search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 216px;
    padding-top: 26px;
    padding-right: 72px;
    padding-bottom: 0px;
    padding-left: 72px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #728aa0;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    

}

.filter-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 554px;
}

.filter-infrastructure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 240px;
}

.filter-infrastructure-title {
    letter-spacing: 0.4px;
}

.filter-infrastructure-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-infrastructure-item {
    padding-left: 40px;
    margin: 0;
    margin-bottom: 25px;
}

.filter-checkbox + label::before {
    cursor: pointer;
}

.filter-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
}


.filter-checkbox:focus + label::before {
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox:focus:checked + label::before {
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted;
}

.filter-checkbox:disabled + label::before {
    background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-checkbox:checked:disabled + label::before {
    background-image: url("../img/checkbox-on-disabled.svg");
}


.filter-infrastructure-item:last-child {
    margin-bottom: 0;
}

.filter-infrastructure-item label,
.filter-accommodation-item  label {
    position: relative;
}

.filter-infrastructure-item label::before,
.filter-accommodation-item  label::before {
    width: 27px;
    height: 24px;
    position: absolute;
    top: -4px;
    left: -40px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    content: "";
}


.catalog-search fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.catalog-search legend{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}



.filter-accommodation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 240px;
}

.filter-accommodation-title {
    padding-left: 15px;
}

.filter-accommodation-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-accommodation-item {
    padding-left: 55px;
    margin: 0;
    margin-bottom: 25px;
    letter-spacing: 0.4px;
    vertical-align: middle;
}

.filter-range {
    width: 319px;
}

.range-title {
    padding-left: 3px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.prise-controls {
    height: 36px;
    margin-bottom: 20px;
    position: relative;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.prise-controls label {
    display: inline-block;
    padding-left: 66px;

  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
    color: #ffffff;

  cursor: pointer;
}

.prise-controls label:last-child{
    padding-left: 80px;
}

.prise-controls input {
    width: 50px;
    padding-left: 5px;
    margin: 0;
    border: none;
    font: inherit;
  
    color: inherit;
  
    background: none;
}


.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.prise-controls::after {
    width: 2px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: 158px;
    background-color: #ffffff;
    content: "";
}

.range-controls {
    position: relative;   
}

.scale {
    width: 317px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3); 
}

.bar {
    width: 260px;
    height: 2px;
    background-color: #ffffff;
}

.range-toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -9px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    background-color: #ababab;
    cursor: pointer;
}

.range-toggle:hover {
    width: 22px;
    height: 22px;
}

.toggle-max {
    left: 1px;
}

.toggle-max {
    left: 80%;
}


.filter-btn {
    width: 137px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 19px;
    margin-top: 32px;
    margin-left: 86px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;
}


.filter-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.search-results-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 31px;
    padding-right: 72px;
    padding-bottom: 30px;
    padding-left: 72px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
}

.results-sort-found {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.results-sort-type {
    padding-top: 1px;
    margin: 0;
    margin-left: 48px;
    font-size: 12px;
    line-height: 18px;
}

.sort-type-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    list-style: none;
}

.sort-type-item {
    margin-left: 33px;
}

.sort-type-item:first-child {
    margin-left: 0;
}




.sort-type-item a {
    border-bottom: 1px dotted #81b3d2;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.sort-type-item a:hover {
    color: #81b3d2;
}

.sort-type-item a:active {
    border: 0;
    color: #000000;
}

.sort-type-item .sort-type-item-selected {
    border: 0;
    color: #81b3d2;
}

.sort-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 503px;
    list-style: none;   
}

.sort-btn-link:hover path {
    fill: #231f20;
}

.sort-btn-link:active path {
    fill: #81b3d2;
}


.sort-hight-to-low {
    margin-left: 12px;
}

.search-results {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
}

.search-results-item {
    padding-right: 72px;
    
    padding-bottom: 30px;
    padding-left: 72px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.results-item-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.item-card-column img {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-top: 29px;
}
.item-card-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 528px;
}

.item-card-inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    width: 258px;
    margin-top: 21px;
    margin-left: 30px;
}

.item-card-title {
    width: 100%;
    padding-top: 4px;
    margin: 0; 
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.search-results-item:nth-child(3) .item-card-title {
    letter-spacing: 0.4px;
}

.item-card-title:hover {
    color: #81b3d2;
}

.item-card-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.item-card-type {
    margin-top: 6px;
}

.item-card-cost {
    margin-top: 6px;
    margin-left: 40px;
}

.search-results-item:nth-child(2) .item-card-cost {
    margin-left: 65px;
}

.search-results-item:nth-child(3) .item-card-cost {
    margin-left: 21px;
}

.card-detail-btn {
    width: 110px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 14px; 
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    vertical-align: middle;
    color: #ffffff;
    background-color: #81b3d2;
    
}

.card-detail-btn:hover {
    background-color: #669ec0;
}
.card-detail-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}


.card-book-btn { 
    width: 142px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 14px;
    margin-left: 6px; 
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    background-color: #766357;
}

.card-book-btn:hover {
    background-color: #604e43;
}
.card-book-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.results-item-rating {
    width: 111px;
    margin-top: 28px;
}

.item-rating-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    
}

.rating-star {
    width: 18px;
    height: 17px;
    margin-left: 5px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.rating-star:first-child {
    margin-left: 0;
}

.item-rating-numbers {
    width: 100%;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    margin: 0;
    margin-top: 46px;
    text-align: center;
    color: #666666;
    background-color: #f2f2f2;
}


footer.inner-footer {
    margin-top: 0; 
    position: static;
    background-color: #ffffff;
}


div,section,a,ul,li,p,footer,header {
    outline: 1px solid red;
    }